<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <configSections>
    </configSections>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="metadataServiceExtension">
                    <metadataService metadataUrl="wsdl" rootMetadataFileLocation="C:\junk\SIF25WS\SIF25ZIS\metadata\DataModel-1.wsdl" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="DataModel-S11" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <extensions>
            <behaviorExtensions>
                <add name="metadataService" type="Thinktecture.ServiceModel.Extensions.Metadata.StaticMetadataBehaviorElement, Thinktecture.ServiceModel.Extensions.Metadata, Version=1.0.10.0, Culture=neutral, PublicKeyToken=20fb7cabbfb92df4" />
            </behaviorExtensions>
        </extensions>
        <services>
            <service behaviorConfiguration="metadataServiceExtension" name="org.sifassociation.swa.datamodel.ptDataModel">
                <endpoint address="http://www.w3.org/2005/08/addressing/anonymous"
                    behaviorConfiguration="" binding="basicHttpBinding" bindingConfiguration="DataModel-S11"
                    contract="IptDataModel" />
            </service>
        </services>
    </system.serviceModel>
</configuration>