<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sharedListeners>
      <add name="sifDEBUG"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData=".\logs\sif25ws.svclog" />
    </sharedListeners>
    <sources>
      <source name="System.ServiceModel.MessageLogging"
                     switchValue="Information, ActivityTracing, Verbose, Debug"
           >
        <listeners>
          <add name="sifDEBUG"  />
        </listeners>

      </source>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing, Verbose, Debug"
           >
        <listeners>
          <add name="sifDEBUG"  />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.net>
    <defaultProxy enabled="false">
      <proxy bypassonlocal="False"
             proxyaddress="http://localhost:8080/" />
    </defaultProxy>
  </system.net>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="DataModel-S11wsHttp" closeTimeout="00:01:00" openTimeout="00:01:00"
           receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
           bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
           maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
           messageEncoding="Text" textEncoding="utf-8"
                 proxyAddress="http://localhost:8080/"
           useDefaultWebProxy="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="FlowControl-S11wsHttp" closeTimeout="00:01:00" openTimeout="00:01:00"
                receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
               maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                messageEncoding="Text" textEncoding="utf-8"
                proxyAddress="http://localhost:8080/"
                useDefaultWebProxy="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="DataModel-S11" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="FlowControl-S11" closeTimeout="00:01:00" openTimeout="00:01:00"
                receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                proxyAddress="http://localhost:8080/"
                useDefaultWebProxy="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://localhost:8080/Design_Time_Addresses/SIFWSA/FlowControl"
         binding="basicHttpBinding" bindingConfiguration="FlowControl-S11"
         contract="IptFlowControl" name="FlowControl" />

      <endpoint address="http://localhost:8080/Design_Time_Addresses/SIFWSA/DataModel"
              binding="basicHttpBinding" bindingConfiguration="DataModel-S11"
              contract="IptDataModel" name="DataModel" />-->
      <endpoint address="http://sifmonster:8731/Design_Time_Addresses/SIFWSA/FlowControl"
          binding="wsHttpBinding" bindingConfiguration="FlowControl-S11wsHttp"
          contract="IptFlowControl" name="FlowControl" />

      <endpoint address="http://sifmonster:8731/Design_Time_Addresses/SIFWSA/DataModel"
              binding="wsHttpBinding" bindingConfiguration="DataModel-S11wsHttp"
              contract="IptDataModel" name="DataModel" />
    </client>
  </system.serviceModel>
</configuration>